<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/icons/alguienSabeIcon.webp">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/style_comentaries.css">
        <title>
            ¿Alguien Sabe?
        </title>
        {%block head%}{%endblock%} 
</head>
<body>
    {% block body%}
    {% endblock%}
</body>
</html>
